/* 自定义字体 字体放在source/fonts/目录下 */
@font-face {
    font-family: 'HYTangMeiRen55W';
    src: url('/diy-font/HYTangMeiRen55W.ttf');
    font-display : swap;
}

/* 搜索框圆角 */
.search-dialog {
    border-radius: 10px;
}

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}